<div class="header">

  <h2> {{title}} </h2>

		</div>


		<div class="nav">
		<!-- <h2>Hellosign</h2> -->
		<a href="/">Home</a>
  		<a href="#news">News</a>
  		<a href="#contact">Contact</a>
  		<a style="float:right" href=/{{title}}/signup>Sign Up!</a>

	</div>
