

</br>
</br>

</br>

<form action="/submit" method="post" enctype="multipart/form-data">

  <label for="template_name">Template Name:</label>
  <input type="text" id="template_name"  name="name" placeholder="Template name...">
  </br>
  <label for="template_file">Upload template file:</label>
  <input type="file" name="template_file">
  </br>







  <input type="submit" value="SUBMIT" >

</form>
