</br>
</br>
<h1>Dashboards</h1>
</br>
</br>
<div id="tabledash" style='float:left'>
  <table>
  <tr>
    <th>Signers</th>
    <th>Document</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>{{title}}</td>
    <td>NDA</td>
    <td>Signed</td>
  </tr>
  <tr>
    <td>Dropbox</td>
    <td>NDA</td>
    <td>Awaiting Signature</td>
  </tr>
  <tr>
    <td>Kodak</td>
    <td>NDA</td>
    <td>Signed</td>
  </tr>
  <tr>
    <td>Ilford</td>
    <td>Order Form</td>
    <td>Not Sent</td>
  </tr>
  <tr>
    <td>Fujifilm</td>
    <td>NDA</td>
    <td>Declined</td>
  </tr>
  <tr>
    <td>Load more...</td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
<div id="piedash">

<img src="/public/siteimages/pie.png" style='float:right' width="450" length="450">
</div>



<style>
h1 {
  text-align: center;

}
table{
   border: 1px solid black;
   width: 900px;
   height: 450px;
}
th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.update{
clear:both;
}
</style>
