<div id="update">
  <div class="submitter">
    <div class="index_title">
    <h1>Update Site:</h1>
    </div>
<form action="/{{title}}/updatesite" method="post" enctype="multipart/form-data">


</br>

  <label for="file">Upload prospect logo:</label>
  </br>
  <input type="file" name="logo_image">
</br>
</br>

  <label for="color">Select primary color:</label>

  <input type="color" name="primary_color" value="{{primary_color}}">
  </br>
  </br>
  <label for="template">Select template:</label>
  </br>
</br>
<input type="radio" name="template" value="dontchange" checked>Do Not Change<br>

  <input type="radio" name="template" value="NDA">NDA<br>
  <input type="radio" name="template" value="MSA">MSA<br>
  <input type="radio" name="template" value="EmpAck">Employee Acknowledgement<br>
  <input type="radio" name="template" value="Waiver">Waiver
  </br>
  </br>
  <input type="submit" value="UPDATE" >

</form>

</div>


</div>

<center><h6>Created by MPH</h6></center>
<style>
input[type=submit] {
  background-color: #000000;
}

.index_title {
text-align: center;
}


</style>
