</br>
</br>
<center><h1>Template Successfully Created!</h1></center>

<!-- <center><h3>Name: {{templatename}}</h3></center> -->
<center><h3>ID: {{templateid}}</h3></center>

<!-- <center><a href="/{{title}}/{{templateid}}/templaterequest">Send Signature Request with Template</a></center> -->
