<h1>{{title}}</h1>
<p>Welcome to {{customer_name}}</p>

<!--<img src="data:image/jpeg;base64,#{{customer_name}}">
 <a href={{prospect_url}}>Go to Site!</a> -->
<!-- <input id="file" type="file" name="customer_logo" accept="image/*"/> -->

</br>
</br>
