<head>
  <title>HelloSign API Demo</title>
</head>
</body>
<div class="index_title">
<h1>HelloSign API Demo Website</h1>
</div>
  <div class="submitter">
<form action="/submit" method="post" enctype="multipart/form-data">

  <label for="prospect">Enter prospect name:</label>
  <input type="text" id="prospect"  name="name" placeholder="Prospect name...">
  </br>
  </br>
  <label for="file">Upload prospect logo:</label>
  <input type="file" name="logo_image">
  </br>
  </br>
  <label for="color">Select primary color:</label>
  <input type="color" name="primary_color">
  </br>
  </br>
  <!-- <label for="secondary_color">Select secondary color:</label> </br>
  <input type="radio" name="secondary_color" value="black" checked> Black (For light colored logos)<br>
  <input type="radio" name="secondary_color" value="white"> White (For dark colored logos)<br>
</br> -->

  <label for="template">Select template:</label>
</br>
  <input type="radio" name="template" value="NDA" checked> NDA<br>
  <input type="radio" name="template" value="MSA"> MSA<br>
  <input type="radio" name="template" value="EmpAck"> Employee Acknowledgement<br>
  <input type="radio" name="template" value="Waiver"> Waiver
  </br>
  </br>
  </br>
  <input type="submit" value="START" >

</form>

</div>
</body>
<style>
input[type=submit] {
  background-color: #4c85af;
}

.index_title {
text-align: center;
}


</style>



<!-- <script>
var new_instance =  new SomeModel({title: 'awesome'});
new_instance.save(function(err){
  if(err) {
    return handleError(err);
}

});
</script> -->
