

<form action="/submit" method="post" enctype="multipart/form-data">

  <label for="prospect">Enter prospect name:</label>
  <input type="text" id="prospect"  name="name" placeholder="Prospect name...">
  <input type="file" name="logo_image">

  <input type="submit" value="SUBMIT" >

</form>



<!-- <script>
var new_instance =  new SomeModel({title: 'awesome'});
new_instance.save(function(err){
  if(err) {
    return handleError(err);
}

});
</script> -->
