

<div class="index_title">
<h1>Hellosign API Demo Website</h1>
</div>
<form action="/submit" method="post" enctype="multipart/form-data">

  <label for="prospect">Enter prospect name:</label>
  <input type="text" id="prospect"  name="name" placeholder="Prospect name...">
  </br>
  <label for="file">Upload prospect logo:</label>
  <input type="file" name="logo_image">
  </br>
  <label for="color">Select primary color:</label>
  <input type="color" name="primary_color">
  </br>
  <input type="submit" value="SUBMIT" >

</form>


<style>
input[type=submit] {
  background-color: #4c85af;
}

.index_title {
text-align: center;
}


</style>
<!-- <script>
var new_instance =  new SomeModel({title: 'awesome'});
new_instance.save(function(err){
  if(err) {
    return handleError(err);
}

});
</script> -->
