body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



.homescreen{
    margin-left: 100px ;
    margin-top: 30px;


}

.nav {
  overflow: hidden;
  background-color: black;
  margin-left: 0px ;
  margin-right: 0px ;

}

.nav a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 70px;
  text-decoration: none;
  font-family: futura;
  font-weight: bold;

}
.nav a:hover {
  background-color: #ddd;
  color: black;
}
.header {

  padding: 10px;
  text-align: center;
  margin-left: 0px ;
  margin-right: 0px ;
}

/* Main pics and text */

.flex_homescreen{
  display: flex;
  justify-content: flex-start;
}

.flex_homescreen > div {
  margin: 0px;
  padding: 20px;


}

/***********/

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
/*  background-color: #4CAF50; */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/*
input[type=submit]:hover {
  background-color: #45a049;
} */

.submitter {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 100px 100px;
  margin: 50px 200px;


}
